html {
    font-size: 12px;
    background-color: rgb(24, 22, 22);
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-size: 5vh;
    margin-bottom: 0;
    color: white;
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: .3vh;
    text-underline-offset: .7vh;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35vw;
    margin-top: 0;
    font-size: 3vh;
}

input {
    width: 12vw;
    height: 2.5vh;
}

footer {
    display: flex;
    justify-content: center;
    width: 100vw;
    font-size: 2vh;
}

footer nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer nav a {
    margin: 0 1vw; 
    text-decoration: none;
    color: inherit; 
}

.allCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 7vh;
    background-color: whitesmoke;
    border: 1px solid white;
    color: black;
}

.fade-out {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.glowingText {
    color: #fff;
    text-shadow: 0 0 3vh rgba(255, 255, 255, 0.9),
                 0 0 3vh rgba(255, 255, 255, 0.6),
                 0 0 3vh rgba(255, 255, 255, 0.3),
                 0 0 3vh rgba(255, 255, 255, 0.9);
}

.roundWhiteCircle, #display8 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20.5vh;
    height: 20.5vh;
    background-color: whitesmoke;
    border-radius: 50%;
    border: 5px double black;
    font-size: 10vh;
    color: black;
    font-weight: bolder;
    font-family: 'Arial';
}

.roundBlackCircle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vh;
    height: 50vh;
    background-color: black;
    border-radius: 50%;
    box-shadow: 0 0 3vh rgba(255, 255, 255, 0.9),
                0 0 3vh rgba(255, 255, 255, 0.6),
                0 0 3vh rgba(255, 255, 255, 0.3),
                0 0 3vh rgba(255, 255, 255, 0.9),
                0 0 3vh rgba(255, 255, 255, 0.9),
                0 0 3vh rgba(255, 255, 255, 0.6),
                0 0 3vh rgba(255, 255, 255, 0.3),
                0 0 3vh rgba(255, 255, 255, 0.9);
    animation: pulsate-box-shadow 60s infinite alternate-reverse;
}

@keyframes pulsate-box-shadow {
    0%, 100% {
        box-shadow: 
            0 0 3vh rgba(255, 255, 255, 0.9),
            0 0 3vh rgba(255, 255, 255, 0.6),
            0 0 3vh rgba(255, 255, 255, 0.3),
            0 0 3vh rgba(255, 255, 255, 0.9),
            0 0 3vh rgba(255, 255, 255, 0.9),
            0 0 3vh rgba(255, 255, 255, 0.6),
            0 0 3vh rgba(255, 255, 255, 0.3),
            0 0 3vh rgba(255, 255, 255, 0.9);
    }
    10% {
        box-shadow: 
            0 0 45px rgba(255, 255, 255, 0.8),
            0 0 45px rgba(255, 255, 255, 0.5),
            0 0 45px rgba(255, 255, 255, 0.2),
            0 0 45px rgba(255, 255, 255, 0.8),
            0 0 45px rgba(255, 255, 255, 0.8),
            0 0 45px rgba(255, 255, 255, 0.5),
            0 0 45px rgba(255, 255, 255, 0.2),
            0 0 45px rgba(255, 255, 255, 0.8);
    }
    25% {
        box-shadow: 
            0 0 35px rgba(255, 255, 255, 1),
            0 0 35px rgba(255, 255, 255, 0.7),
            0 0 35px rgba(255, 255, 255, 0.4),
            0 0 35px rgba(255, 255, 255, 1),
            0 0 35px rgba(255, 255, 255, 1),
            0 0 35px rgba(255, 255, 255, 0.7),
            0 0 35px rgba(255, 255, 255, 0.4),
            0 0 35px rgba(255, 255, 255, 1);
    }
    40% {
        box-shadow: 
            0 0 50px rgba(255, 255, 255, 0.7),
            0 0 50px rgba(255, 255, 255, 0.4),
            0 0 50px rgba(255, 255, 255, 0.1),
            0 0 50px rgba(255, 255, 255, 0.7),
            0 0 50px rgba(255, 255, 255, 0.7),
            0 0 50px rgba(255, 255, 255, 0.4),
            0 0 50px rgba(255, 255, 255, 0.1),
            0 0 50px rgba(255, 255, 255, 0.7);
    }
    55% {
        box-shadow: 
            0 0 30px rgba(255, 255, 255, 1),
            0 0 30px rgba(255, 255, 255, 0.8),
            0 0 30px rgba(255, 255, 255, 0.5),
            0 0 30px rgba(255, 255, 255, 1),
            0 0 30px rgba(255, 255, 255, 1),
            0 0 30px rgba(255, 255, 255, 0.8),
            0 0 30px rgba(255, 255, 255, 0.5),
            0 0 30px rgba(255, 255, 255, 1);
    }
    70% {
        box-shadow: 
            0 0 55px rgba(255, 255, 255, 0.6),
            0 0 55px rgba(255, 255, 255, 0.3),
            0 0 55px rgba(255, 255, 255, 0.1),
            0 0 55px rgba(255, 255, 255, 0.6),
            0 0 55px rgba(255, 255, 255, 0.6),
            0 0 55px rgba(255, 255, 255, 0.3),
            0 0 55px rgba(255, 255, 255, 0.1),
            0 0 55px rgba(255, 255, 255, 0.6);
    }
    85% {
        box-shadow: 
            0 0 35px rgba(255, 255, 255, 0.9),
            0 0 35px rgba(255, 255, 255, 0.6),
            0 0 35px rgba(255, 255, 255, 0.3),
            0 0 35px rgba(255, 255, 255, 0.9),
            0 0 35px rgba(255, 255, 255, 0.9),
            0 0 35px rgba(255, 255, 255, 0.6),
            0 0 35px rgba(255, 255, 255, 0.3),
            0 0 35px rgba(255, 255, 255, 0.9);
    }
}

.eventHorizon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3wh;
    height: 1.5vh;
    border-radius: 75%;
    background-color: whitesmoke;
    box-shadow: 0 0 3vh rgba(255, 255, 255, 0.9),
                0 0 3vh rgba(255, 255, 255, 0.6),
                0 0 3vh rgba(255, 255, 255, 0.3),
                0 0 3vh rgba(255, 255, 255, 0.9),
                0 0 3vh rgba(255, 255, 255, 0.9),
                0 0 3vh rgba(255, 255, 255, 0.6),
                0 0 3vh rgba(255, 255, 255, 0.3),
                0 0 3vh rgba(255, 255, 255, 0.9);
    animation: pulsate-event-horizon 30s infinite ease;
}

@keyframes pulsate-event-horizon {
    0%, 100% {
        opacity: 1;
    }
    20% {
        opacity: 0.8;
    }
    40% {
        opacity: 0.6;
    }
    60% {
        opacity: 0.4;
    }
    80% {
        opacity: 0.6;
    }
}

#display8 {
    opacity: 1;
    transition: opacity 0.5s ease;
}

#showAnswer {
    color: black;
    font-size: 4.75vh;
}

#submitButton {
    font-size: 2.2vh;
}
